/*------------------------- Generelt -------------------------*/

body {
    margin: 0;
}

* {
    box-sizing: border-box
}

html {
    overflow-x: hidden;
    margin: 0 auto;
    background-color: #F8F8F8;
}


/*------------------------- Menu bar -------------------------*/

header {
    background-color: #F8F8F8;
    display: flex;
    font-size: 1.5rem;
    padding-top: 10px;
    padding-bottom: 30px;
    top: 0vw;
    width: 100%;
    position: sticky;
    z-index: 999;
}


.hidden {
    transform: translateX(100%);
    opacity: 0;
}


#menuknap {
    color: #265756;
    display: flex;
    position: relative;
    top: 10px;
    right: -90vw;
    cursor: pointer;
}

#menuknap:hover {
    color: #DDAC3B;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    display: inline-block;
    position: absolute;
    background-color: #F8F8F8;
    min-width: 100%;
    padding-bottom: 15px;
    padding-left: 20px;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 40px;
    font-family: 'Work Sans', sans-serif;
    color: #265756;
}

nav a:visited {
    color: #265756;
}

nav a:hover {
    color: #DDAC3B;
}

nav a:first-child {
    display: inline;
}


/*----------------------------- Footer -----------------------------*/

footer {
    background-color: #265756;
    padding-bottom: 1px;
    padding-top: 30px;
}

.fa {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
}

.fa-facebook {
    background: #265756;
    color: #F8F8F8;
}

.fa-instagram {
    background: #265756;
    color: #F8F8F8;
}

#footer_icons {
    display: flex;
    justify-content: center;

}

#footer_icons a:hover {
    color: #DDAC3B;
    transition: 0.6s ease;
}

#copyrights {
    color: #DDAC3B;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: .8rem;
}


/*_________________________________________*/
/*Kontakt*/

main {
    margin: 20px;
}

#kontakt_main h1 {
    color: #DDAC3B;
    text-align: center;
    position: relative;
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
    padding: 30px;
}

#kontakt_main p {
    color: #265756;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

#name,
#email,
#message {
    font-family: 'Roboto', sans-serif;
}

#kontakt_main input:valid {
    border-color: green;
}

form {
    margin: 0 0 8rem;
}

form > * + *,
fieldset > * + *:not(.address) {
    margin-top: 1.5rem;
}

.form-group {
    display: grid;
}

input {
    border: 1px solid #21212133;
    background: #f8f8f8;
    padding: 8px 12px 10px;
    border-radius: 4px;
    font-size: 1rem;
}

#send_message {
    color: #265756;
    border: 1px solid #DDAC3B;
    background: #DDAC3B;
    padding: 8px 12px 10px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
}

#send_message:hover {
    color: #F8F8F8;
    transition: 0.6s ease;
}

#kontakt_main {
    place-content: center;
    padding-bottom: 100px;
}

textarea {
    border: 1px solid #21212133;
    background: #f8f8f8;
    padding: 8px 12px 10px;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'roboto';
}


/*----------------------------- Media Q's -----------------------------*/

@media only screen and (min-width: 650px) {

    #kontakt_main {
        width: 600px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 800px) {


    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

    #menu {
        position: relative;
        padding-left: 0px;
    }

    header {
        justify-content: center;
        padding-bottom: 0vw;
        padding-top: 0vw;
    }


    nav a {
        margin: 20px;
    }

}
